addons:
  postgresql: "9.3"
language: ruby
rvm:
  - 2.0.0-p247
  - 2.1.2
  - 2.2.5
  - 2.3.3
  - 2.4.1
before_script: bundle exec rake sequel:db:create
script: "bundle exec rspec"
notifications:
  email: false
